
html {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    background: #ffffff;
    color: #0b0b0b;
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    min-width: 100vh;
} 


/*Barra de navegacion*/
.navbar{
    padding: 0.5rem;
    background-color:gold;
}

.navbar-collapse{
    align-items: center;
    justify-content: space-between;
}

.btn-bag{
    padding: 30px;
    font-size: 1.5rem;
}

.navbar-icono{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid grey;
    border-radius: 50%;
}


/*Seccion*/
section{
    display:flex;
    flex-direction: column;
    padding: 10px;
}
 h1{
    color:darkgoldenrod;
    font-size: 2.5rem;
    font-family: 'Bebas neue', cursive;
 }

 h2{
    color: darkgoldenrod;
    font-family: 'Bebas neue', cursive;
    font-size: 20px;
 }


/*Seccion Hero*/
.hero{
    background-color: #ffffff;
    min-height: 100px;
    text-align:center;

}

.hero-principal h6 {
    font-size: 1rem;
    color:dimgrey;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}


/*Carrusel*/
.novedades{
    padding: 0px 100px 0px 100px;
}
.carousel-novedades{
    width: 600px;
}

.carousel-item{
    height: 100%;
}

/*Seccion sobre nosotras*/
.sobre-nosotras{
    height: 500px;
    padding: 10px;
    background-color: #ffffff;
    color: #0b0b0b;
    margin-bottom: 300px;
}

.seccion-titulo{
    font-size: 1.8rem;
    padding: 20px 0;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 550;
}

.seccion-texto{
    text-align: center;    
    font-size: 1.2rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.imagen-nosotras{
    height: 400px;
    width: 500px;
    padding: 10px;
    text-align: center;
    border: 1px solid black;
    margin-bottom: 10px;
}

/*boton flotante whatsapp*/
.btn-wsp-float{
    position: fixed;
    width: 55px;
    height: 55px;
    line-height: 55px;
    bottom: 30px;
    right: 30px;
    background-color: green;
    color: #ffffff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
    z-index: 100;
}

.btn-wsp-float:hover{
    text-decoration: none;
    color: green;
    background: #ffffff;
}

/*Sección cómo comprar-index.html*/
.contenedor-comprar{
    border: 2px solid darkgoldenrod;
    background-color: gainsboro;
    margin-bottom: 0px;
    padding-bottom: 10px;
}

.como-comprar-index{
    margin-top: 100px;
}

.imagen-flork{
    height: 150px;
    width: 200px;
}


/*Adaptable responsivo*/
@media screen and (max-width: 767px){
    .navbar-brand{
        display: none;
    }
}

@media screen and( min-width: 700px) {
    .carousel-inner{
        max-width: 600px;
    }
}

/*footer*/
footer{
    padding: 10px;
    background-color: gold;
    color:#0b0b0b;
    font-size: medium;
    margin-top: auto;
}

.footer-icono{
    height: 40px;
    width: 70px;
}

.footer-texto{
    font-size: 1rem;
    padding: 10px;
    line-height: 10%;
}

.contacto button{
    color:#0b0b0b;
    font-weight: bold;
    background-color: transparent;
    border: 0cm;
    padding: 10px;
    font-size: 1rem;
}

.iconos-redes-sociales a {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    margin: 10px;
    border: 2px solid black;
    border-radius: 50%;
}

.iconos-redes-sociales i{
    color: #0b0b0b;
    font-size: 1.5rem;
}

.derechos-de-autor{
    font-size: 15px;
    color: #0b0b0b;
}


/*Catalogo.html*/
.titulo{
    margin-top: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.card-destacado{
    margin-bottom: 10px;
    max-width: 100%;
    margin: auto;
    text-align: center;
}

.titulo-combos{
    font-style: italic;
    text-align: center;
}

/*CómoComprar.html*/

.como-comprar{
    margin-bottom: 20px;
    padding-bottom: 50px;
}

.btn-wsp{    
    flex:auto;
    margin-left: 100px;
}

.seccion-texto-comprar{
    font-size: large;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.imagen-medidas{
    width: 400px;
    height: 300px;
}

.acordeon-personalizar{
    margin-bottom: 50px;
}

/*quienessomos.html*/
.bi-pin-map{
    color: rgb(206, 16, 16);
    font-size: 30px;
    padding: 10px;
}

.bi-patch-question{
    font-size: 30px;
    padding: 10px;
    color: darkorchid;
}

.bi-bookmark-heart-fill{
    font-size: 30px;
    padding: 10px;
    color:mediumturquoise;
}

.bi-hearts{
    font-size: 30px;
    padding: 10px;
    color:crimson;
}

/*product cards*/
.shop-content{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 50px;
}

.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 2);
    max-width: 300px;
    max-height: 360px;
    margin: auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.card>img{
    width: 100%;
    height: auto;
}

.price{
    color: rgb(20, 20, 20);
    font-size: 20px;
}

.card button{
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color:dimgrey;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.card button:hover{
    opacity: 0.7;
}

.seccion-texto-card{
    min-height: 50px;
    font-size: 25px;
}

/*modal container*/
.modal-container{
    width:30%;
    margin: 0 65%;
    max-height: 88vh;
    color: white;
    background-color:rgb(28, 27, 27);
    display: flex;
    flex-direction: column;
    align-items: center;
    position:fixed;
    overflow:auto;
    z-index: 9;
    top: 12vh;
    scrollbar-color: none;
}

.modal-container::-webkit-scrollbar{
    display: none;
}

.modal-header{
    display: flex;
    justify-content:space-between;
    background-color: #0b0b0b;
    width: 100%;
}

.modal-header-title{
    justify-self: flex-start;
    padding-left: 10px;
    color:white;
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.modal-header-button{
    cursor: pointer;
    padding-right: 10px;
    color:white;
    font-family: 'Times New Roman', Times, serif;
}

.modal-container > .modal.content{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    width: 70%;
    margin: 10px;
}

.modal-container > div > p{
    font-size: 20px;
    padding-left: 20px;
}

.modal-container > div > h5{
    align-self: center;
}

.modal-container > div > img{
    height:60%;
    width: 30%;
    align-self:center;
}

.total-content{
    font-size: 23px;
    padding: 20px;
    text-align: center;
    padding-top: 10px;
    background-color: rgb(65, 64, 64);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

/*delete-button-content*/
.delete-product{
    cursor: pointer;
    color: red;
    font-size:15px;
    align-self: center;
    text-align: center;
    margin-bottom: 15px;
}

/*carrito counter*/
.cantidad-carrito{
    background-color: black;
    color: #ffffff;
    border-radius: 50%;
    font-size: 15px;
    padding: 4px;
    top: 70px;
    right: 30px;
    position: absolute;
    display: none;
}